@media screen and (max-width: 800px) {
  /* Mobile layout */
  #header {
    display: initial;
  }

  #container {
    display: initial;
  }

  #left {
    width: 100%;
    max-width: initial;
  }

  #right {
    width: initial;
    padding: 10px;
  }

  /* Hide everything excluding title. */
  #left > *:not(.alwaysShow) {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  /* Desktop/tablet layout */
  #header {
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 5px;
  }

  #container {
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 5px;
    display: flex;
  }

  #left {
    border-right: 1px solid #666;
    padding: 0em 1em 1em .2em;
    margin: 1em 0 0 0;
    width: 22%;
    display: inline-block;
  }

  #right {
    width: 74%;
    padding-left: 1em;
    display: inline-block;
    vertical-align: top;
  }
}

#bar {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background: rgba(255, 255, 255, 0.12);
    padding: .1em .15em;
    clear: both;
    width: 100%
}

#barLeft {
    float: left;
}

#barRight {
    float: right;
}

#clearer {
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}

#footer {
  text-align: center;
  margin: 10px;
}
